# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ATREYU_REV2

config ZMK_KEYBOARD_NAME
    default "joshwu_Atreyu"

endif

if ZMK_DISPLAY

config I2C
    default y

config SSD1309
    default y

endif
